table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.editButton {  background-color: #4CAF50;  width: 100px;}
.deleteButton {  background-color: #f44336; width: 100px;}
.saveButton {  background-color: #008CBA;  width: 100px}
.cancelButton {  background-color: #e7e7e7; color: black; width: 100px }
.addButton {  background-color: #555555; width: 200px}
